<!DOCTYPE html>
<html lang="en" class="font-mono text-emerald-600 bg-gray-900 mx-auto max-w-7xl px-20 sm:pr-50 lg:pr-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <title>My Blog - {% block title %}{% endblock title %}</title>
</head>

<body>
  {% include("navigation.html") %}
  <h1 class='text-4xl font-mono py-5 font-black'>Here comes my blog</h1>
  <section>
    <header>
      {% block header %}{% endblock header %}
    </header>
    <main>
      {% block content %}<p>No messages.</p>{% endblock content %}
    </main>
  </section>
</body>

</html>